*{
  transition: all .5s ease-in-out;
}

.bodyDarck{
  
  --primary-color-Bg: rgba(0, 0, 0, 0.65);
  --primary-nav-color-Bg: rgba(225, 225, 255, 0.28);
  color: white;
  --primary-placeholder: rgba(255, 255, 255, 0.57);
  --primary-main-color-bg: linear-gradient(90deg, #485563 0%, 50%, #29323C 100%);
  
  --primary-name: rgba(225, 255, 255, 0.51);
  --primary-text: rgba(212, 212, 212, .5);
  --primary-popup: #485563;
  --primary-popup-main: linear-gradient(90deg, #29323C 0%, 50%, #29323C 100%);
  
}


/* 

@media (max-width: 1800px){
  .main{
    width: 70%;
    float: right;
  }
   .menu{
     width: 30%;
     position: fixed;
     left: 0;
     overflow: scroll;
   }
   
   .menuBtn{
     opacity: 0;
   }
} */