
.settingsMain {
  transition: all .5s;
  height: 0;
  overflow: hidden;

}

.mainHide{
  transition: all .5s;
  height: 0;
  overflow: hidden;
}

.moreHide{
  display: none;
}
.dropdown_contentHide{
  height: 0;
  display: none;
}


.settingsOpen{
  height: 100vh;
  width: fill;
  background: rgba(255, 255, 255, 0.55);
  padding: 0px;
  padding-top: 0px;
  overflow: scroll;
}

.settNav{
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  
  border-radius: 4px;
  margin-bottom: 10px;
}
.settNav .hori_layout{
  color: black;
  display: flex;
  flex-flow: row;
  align-items: center;
  
}
.hori_layout h3{
  margin: 0;
}

.backBtn{
  min-width: 35px;
  min-height: 35px;
  padding-top: 10px;
}



.cardStngs{
  width: fill;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.0);
  border-radius: 10px;
  padding: 5px 6px;
  margin: 6px;
  background: rgba(0, 0, 0, 0.1);
  
  display: flex;
  flex-flow: column;
  align-items: top;
}
.cardStngs h4{
  margin: 0;
}
.cardStngs label{
  color: rgba(0, 0, 0, 0.59);
  font-size: 14px;
}

