body {
    font-size: 15pt;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}



:root{
  --primary-color-Bg: rgba(255, 255, 255, 0.65);
  --primary-nav-color-Bg: rgba(0, 0, 0, 0.28);
    --primary-placeholder: #000000C7;
    
    --primary-main-color-bg: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    
    --primary-name: rgba(0, 0, 0, 0.51);
    --primary-text: rgba(50, 50, 50, 1);
    --primary-popup: rgba(255, 255, 255, 0.95);
    --primary-popup-main: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.main{
  background: rgb(131, 58, 180);
  background: var(--primary-main-color-bg);
  height: 100dvh;
  overflow: hidden;
  
}
nav{
  min-height: 40px;
  background: var(--primary-nav-color-Bg);
  backdrop-filter: blur(5px);
  
  color: var(--primary-color-Bg);
  padding: 0 6px;
  
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  
  
  /* border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px; */
  
}
.appTitle{
  width: max-content;
  padding: 0;
  margin: 0;
  position: absolute;
  left: 35%;
  top: 3px;
}

.nav_hori_layout{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_hori_layout span{
  padding: 0;
  margin-top: 3px;
  max-height: 0px;
}
.header{
  padding: 8px;
  text-align: center;
  color: var(--primary-name);
  font-weight: 500;
  margin-top: 20px;
  
}

.input-feeld{
  color: auto;
  text-align: center;
  margin-top: 30px;
}
.hori-layout{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  
  align-items: center;
  justify-content: center;
  width: fill;
}

.input-feeld input, button{
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
  
  border-radius: 50px;
  margin: 6px;
  background: var(--primary-color-Bg);
}

::placeholder{
  color: var(--primary-placeholder);
}
.searchBtn{
  height: auto;
  width: 40px;
  border-radius: 80px ;
  margin-left: 0;
  background: rgba(255, 255, 255, 0) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAACfUlEQVR4nO2Zz08TURDHl1hLVLzUciHGlJabB1ABOYuhnrjYGD1sy0UD5SAmxoMlUSr9uz/myRDr+Prs1nnbre4kk5Cy/X7nm9f58WaTpLTSimfAXWAb6ACnwAAYiru/+/K/J+7ZpGgGrANd4BswmtLdsynQKIKAe8BRhuAneQ+ozUvEI+CLgYhrd1hbeYt4HgjoDDgAWkAdqIqvymdteWbS9/fnLeIEaGbAeQC8m4sYrn5OmtRVpB1gaQa8JWBXMDTuZszE1jkxsKg6DgM49+RMzSb6X8l0dRpalk4p4fpkulb44yT66HdMSa54nnp4GpYEXQV+PEtOTJkzJ4ortRw7dMdeNwH38zU9E8CKBfC2An5vEnGY84PifGwB2lGgBybRhjnbivOlBeipAm2ZRBvm3FCcfQvQgQKtm0Qb5qwrzs8WoLq2V02iDXNWFedFDCHLJtGGOZd1l0/+kZ/WRwvQfgGS/ThG+W2bRBvmfKE4D2M0xDOTaLM1xIeLOKK0PFP2bSvw1HMbjDU06pzsWBI0POP1rhnBT549D8+aNUkv8sWq6elZr6zwx4lqnqvuuUW+yMVNX3Vd/7pjE/3vhFueox/KzW7W5cPehOXDW+BGFCFCvu8h/TGhZlwHtTyJrb0HVOYhZiQ9oC3deVUt6Dak2ek+EfI09slsGq9M/ySmElNMzbOYyOqXwJspluFpVDFjfSbN+FrhAngN3BeMiqfEj5R3o4uRYFbcosDdsSWRr1/0fAU+yURwKKvXW57vF0fM35pLbM9INMq1muUs5qgUk7fxn57MzaToxnTVLN/3j5FO5lmySIZfzGKJmCBmMUWonInzsrS00pKgfQf5JhL/b+B8dQAAAABJRU5ErkJggg==) 0 0 no-repeat;
  color: transparent;
  background-position: center;
  background-size: calc(80%);
}


section{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  
  justify-content: space-around;
  
  margin-top: 20px;
  
}
.card{
  border-radius: 10px;
  height: 100px;
  width: 90px;
  background: rgba(255, 255, 255, 0.78);
  background: var(--primary-color-Bg);
  padding: 6px;
  margin: 8px auto;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.card img{
  width: 100%;
  transition: all .5s;
  
}
.card img:hover{
  transition: all .5s;
  width: calc(100% + 50px);
  filter: drop-shadow(30px 10px 4px rgba(106, 106, 106, 0.58));
}

.card .fbImg:hover{
  transition: all .5s;
  width: calc(100% + 230px);
  filter: drop-shadow(0px 10px 4px rgba(106, 106, 106, 0.58));
}

.card .gitImg:hover {
  transition: all .5s;
  width: calc(100% + 40px);
  filter: drop-shadow(0px 10px 4px rgba(106, 106, 106, 0.58));
}

.card .vsImg:hover {
  transition: all .5s;
  width: calc(100% + 40px);
  filter: drop-shadow(-30px 10px 4px rgba(106, 106, 106, 0.58));
}
.card .drvImg:hover{
  transition: all .5s;
  width: calc(100% + 230px);
  filter: drop-shadow(-30px 10px 4px rgba(106, 106, 106, 0.58));
  
  
}


.menuClose{
  
  transition: all .5s;
  position: absolute;
  height: 100vh;
  width: 0;
  z-index: 999;
  
  background: rgba(255, 255, 255, 0.55);
  
  overflow: hidden;
}



.menuOpen{
  transition: all .5s;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: block;
  display: absolute;
  height: 100vh;
  width: 70%;
  overflow: hidden;
  
  z-index: 999;
  /* max-width: 300px; */
  background: var(--primary-color-Bg);
  
}
.menuHeader{
  padding: 6px;
  text-align: center;
}
.menuHeader .circle{
  width: 100px;
  height: 100px;
  border-radius: 500px;
  margin: auto;
  /* background: #42445A6B; */
  background: url(/assets/dp.gif);
  background: #42445A6B url(https://devsaheerhost.github.io/WebAssets/chromeHomePage/assets/dp.gif) 0 0 no-repeat;
  background-position: center;
  background-size: calc(100% + 5px);
}
.menuHeader h2{
  margin: 0;
  min-width: max-content;
  
}

.titleVert{
  width: fill;
  text-align: left;
  
}
.titleVert label{
  width: max-content;
}
.menuHeader label{
  display: block;
  color: #0000008A;
  font-size: 10px;
}
a{
  margin: 0;
  padding: 0;
}

.menuFooter{
  position: absolute;
  bottom: 100px;
  height: 60px;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: space-around;
  gap: 8px;
}
.menuFooter .icon{
  height: 35px;
  width: 35px;
  border-radius: 5000px;
  background: var(--primary-color-Bg);
  background: transparent;
  overflow: hidden;
  padding: 6px;
}
.icon img{
  width: 100%;
}
.icon .pintrestIco{
  border-radius: 55px;
}
.menuBig{
  background: var(--primary-color-Bg);
  background: transparent;
  height: 340px;
  width: 100%;
  border-radius: 20px;
  margin-top: 8px;
  min-height: 100px;
  overflow-x: hidden;
  overflow-y: scroll; 
  
}
.menuBig img{
  max-width: 100%;
  /* max-height: 100%; */
  border-radius: 10px;
}
.menuCardImg{
  width: 100%;
}

.moreVert {
  width: 30px;
  height: 30px;
  margin-bottom: 1px;
}

.dropdown {
  position: relative;
  display: inline-block;
  transition: all .5s;
  
}

.dropdown-content {
  transition: all .2s;
  /* display: none; */
  position: absolute;
  background: var(--primary-color-Bg);
  
  border-radius: 10px;
  width: 150px;
  /* min-width: 150px; */
  overflow: hidden;
  height: 0;
  /* transform: translateX(100px);
  transform: translateY(-17px); */
  transform: translateX(-100px);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  
  transition: all .5s;
  color: var(--primary-text);
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  width: fill;
  height: 16%;
  border-radius: 8px;
}

.dropdown-content a:hover {
  background-color: #ddd;
  
}

.dropdown:hover .dropdown-content {
  /* display: block; */
  height: 130px;
  width: 150px;
  
  transform: translateX(-117px);
  
}

.dropdown:hover .dropbtn {
  /* background-color: #3e8e41; */
  
}

.themeLayout{
  position: fixed;
  left: 17%;
  /* right: 20%; */
  top: 40%;
  min-width: 100px;
  max-width: 350px;
  
  
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.50);
  border-radius: 10px;
  background: var(--primary-popup);
  padding: 6px;
  
  visibility: hidden;
}

.themeLayout h2{
  margin: 0;
  
  
  color: var(--primary-text);
  
  width: 100%;
}
.themeLayout label{
  color: rgba(0, 0, 0, 0.51);
  font-size: 18px;
}


.chooseLayout{
  display: flex;
  flex-flow: row;
  gap: 6px;
  margin-top: 8px;
  
  font-size: 16px;
  /* background: #00000014; */
  border-radius: 6px;
}

.chooseLayout label{
  background: #FFFFFF2B;
  border-radius: 6px;
  padding: 3px 6px;
  
  margin-top: 10px
}


.themeLayoutOpen {
  visibility: visible
}
.titleLayout{
  display: flex;
  flex-flow: row;
  align-items: center;
  
  border-radius: 6px;
  background: var(--primary-popup-main);
  color: rgba(0, 0, 0, 0.51);
}